dist-newstyle/
cabal.project.local
cabal.project.local~
cabal.sandbox.config
.cabal-sandbox/
*.o
*.hi
*.dyn_o
*.dyn_hi
*.prof
*.aux
*.hp
*.eventlog
.ghci_history
*.chi
*.chs.h
.hie/
.hls/
.stack-work/
hie.yaml.lock
.vscode/
*.swp
*.swo
*~
.#*
.DS_Store
Thumbs.db
*.log
.env